@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
  --font-serif-display: "DM Serif Display", serif;
  --font-plex: "IBM Plex Sans", sans-serif;
}
