---
import Layout from '../layouts/Layout.astro'
import WelcomeSection from '@components/home/WelcomeSection.astro'
import ServiceFundamentals from '@components/home/SectionFundamentals.astro'
---

<Layout>
	<main >
		<article class='h-screen max-h-screen overflow-hidden px-6'>
			<WelcomeSection />
		</article>
		<article>
			<ServiceFundamentals>
		</article>
	</main>
</Layout>