---
import Layout from '../layouts/Layout.astro'
import NavBar from '@components/NavBar.astro'
import WelcomeSection from '@components/WelcomeSection.astro'
---

<Layout>
	<header class='fixed top-0 w-full z-10'>
		<NavBar />
	</header>
	<main >
		<article class='h-screen max-h-screen overflow-hidden px-6'>
			<WelcomeSection />
		</article>
	</main>
</Layout>