---
const { name, details, icon } = Astro.props
---

<div
	class='bg-[#e4232b] hover:bg-[#e71219] flex w-full h-full flex-col items-center *:text-balance *:text-center py-3 *:text-white gap-3 rounded-md transition-all duration-300 ease-out
            hover:-translate-y-2
            hover:shadow-xl'
>
	<img src=`/src/assets/icons-home/${icon}.svg` alt='icono' />
	<h4 class='text-lg font-semibold uppercase'>{name}</h4>
	<p>{details}</p>
</div>
