---
import "@tailwind/global.css"
---

<nav class="bg-gray-300 flex items-center justify-between w-full h-16 px-6 ">
  <div>
    <img src="/src/assets/bg-clean-brand.png" alt="logo" width="90">
  </div>
  <div class="flex items-center gap-10">
    <ul class="flex gap-5">
      <li>Inicio</li>
      <li>Servicios</li>
      <li>Portafolio</li>
      <li>Sobre Nosotros</li>
      <li>Reseñas</li>
    </ul> 
    <div class="flex gap-5">
      <a href="#">Cotizar</a>
      <a href="">Contactar</a>
    </div>
  </div>
</nav>
