---
	import NavBar from '@components/NavBar.astro'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Fast Study</title>
	</head>
	<body>
		<header class='fixed top-0 w-full z-10'>
		<NavBar />
		</header>

		<slot />

		<footer class="outline outline-gray-800">
			<h2>Aqui estara el footer</h2>
		</footer>
	</body>
</html>

